header .header-wrap > a::before {
    border-top: 1px solid #ededed;
    border-bottom: 1px solid #ededed;
}
header .header-wrap > a:hover::before,
header .header-wrap > a.active::before  {
    border-left: 1px solid #ededed;
    border-right: 1px solid #ededed;
}
header .header-wrap nav ul li {
    transition: all .6s cubic-bezier(0.25, 0.1, 0.25, 1);
}
header .header-wrap nav ul li:hover a {
    color: #BCF314;
}
header .header-wrap nav ul li a {
    color: #ededed;
}
body {
    width: 100vw;
    height: 100vh;
}
main {
    display: block;
}
main .bg {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-color: #000;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: -1;
    overflow: hidden;
}
main .circleshadow {
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    width: 20vw;
    height: 20vw;
    box-shadow: inset 4px 4px 6px -7px #fff,
                inset -4px -4px 15px -5px #aeaec0,
                4px 4px 6px -7px #fff,
                -4px -4px 10px -8px #aeaec0;
    position: absolute;
    top: calc(50% - 10vw);
    left: calc(50% - 10vw);
    transform: scale3d(1, 1, 1) ;
    animation: circleshadow 3.5s cubic-bezier(0.7, 0.38, 0.36, 0.97) infinite both alternate;
}
@keyframes circleshadow {
    0% {
        box-shadow: inset 4px 4px 6px -6px #BCF314,
                    inset -4px -4px 15px -5px #D7D7D9,
                    4px 4px 6px -9px #BCF314,
                    -4px -4px 10px -8px #D7D7D9;
        transform: rotateZ(0deg);
    }
    20% {
        box-shadow: inset 4px 4px 6px -6px #f5f7fa,
                    inset -4px -4px 15px -5px #c3cfe2,
                    4px 4px 6px -9px #f5f7fa,
                    -4px -4px 10px -8px #c3cfe2;
    }
    40% {
        box-shadow: inset 4px 4px 6px -6px #fdfcfb,
                inset -4px -4px 15px -5px #e2d1c3,
                4px 4px 6px -9px #fdfcfb,
                -4px -4px 15px -8px #d1fdff;
    }
    60% {
        shadow: inset 4px 4px 10px -10px #e5b2ca,
                inset -4px -4px 10px -5px #97d9e1,
                4px 4px 10px -7px #434343,
                -4px -4px 10px -8px #93a5cf;
    }
    80% {
        box-shadow: inset 4px 4px 6px -6px #d5dee7,
                inset -4px -4px 8px -5px #dfe9f3,
                4px 4px 15px -3px #c9ffbf,
                -4px -4px 12px -8px #ffafbd;  
    }
    100% {
        box-shadow: inset 4px 4px 6px -6px #BCF314,
                    inset -4px -4px 15px -5px #D7D7D9,
                    4px 4px 6px -9px #BCF314,
                    -4px -4px 10px -8px #D7D7D9;
        transform: rotateZ(360deg);
    }
}
/* text */
h2 {
    width: 0;
    position: static;
    margin: 0;
    font-family: 'Montserrat', 'NanumSquare', '나눔스퀘어', 'Arial', 'Malgun Gothic', sans-serif;
    font-size: 1rem;
    font-weight: normal;
    font-style: normal;
}
.txt {
    width: 100%;
    margin: 0 auto;
    color: #fff;
    font-size: 2em;
    letter-spacing: 2px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}
.txt h1 {
    width: 100%;
    font-size: 10vw;
    text-align: center;
    font-style: italic;
    letter-spacing: 1px;
}
.txt h2 {
    width: 100%;
    /* font-size: 3vw; */
    font-size: 2.5vw;
    text-align: center;
    font-weight: 400;
}
.txt h2::before {
    content: '';
}
.txt h2::after {
    content: '';
}
.txt h2 span {
    font-size: inherit;
    font-weight: 400;
    font-style: normal;
    font-family: 'Open Sans', sans-serif;
}
.txt h2 span::after {
    content: '';
    display: inline-block;
    width: 5vw;
    height: 1px;
    background-color: #fff;
    margin: 0 10px 0 10px;
}
.txt .bottom-txt {
    width: 90%;
    margin: 1vh auto 0;
    text-align: right;
}
.txt .bottom-txt::before {
    content: '';
    width: 100%;
    border-top: 1px solid #ccc;
    margin-bottom: 10px;
}
.txt .bottom-txt dl {
    width: 100%;
    line-height: 1.25em;
    font-size: 1em;
    color: #ccc;
    margin-top: 50px;
}
.txt .bottom-txt dl::after {
    content: '';
    display: table;
    clear: both;
}
.txt .bottom-txt dl dt {
    font-size: inherit;
    text-align: right;
}
.txt .bottom-txt dl dt::after {
    content: '';
    display: block;
    width: 100%;
    border-top: 1px solid #ccc;
    padding-bottom: 10px;
}
.txt .bottom-txt dl dt a {
    font-size: inherit;
    padding-bottom: 10px;
    font-weight: 600;
    transition: all .5s;
}
.txt .bottom-txt dl dt:hover a {
    font-style: italic;
    color: #BCF314; 
}
.txt .bottom-txt dl dd {
    font-size: inherit;
    line-height: 1.25em;
}
.txt .bottom-txt dl dd a {
    font-size: inherit;
    transition: all .5s;
}
.txt .bottom-txt dl dd:hover a {
    color: #BCF314; 
}
/* motion */
.motion {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    animation: pers 3.5s .7s infinite both alternate;
}
.motion .one {
    width: 40vh;
    height: 40vh;
    position: absolute;
    top: 0;
    left: 10%;
    transform: translateX(0) translateZ(0) rotateZ(0) rotateX(0deg);
    animation: onemotion 3.5s .7s infinite both alternate;
}
@keyframes onemotion {
    0% {
        border-radius: 50%;
        border: 1px dotted #BCF314;
        background-color: rgba(0, 0, 0, .2);
        transform: translateX(100px) translateY(50px) rotateZ(0deg) rotateX(10deg) rotateY(20deg) scale3d(1, 1, 1);
    }
    50% {
        background-color: rgba(255, 255, 255, .1);
    }
    60% {
        border: 1px solid transparent;
    }
    100% {
        top: 50%;
        border: 1px solid rgba(188, 243, 20, .5);
        transform: translateX(500px) translateY(-150px) rotateZ(80deg) rotateX(160deg) rotateY(120deg) scale3d(1.8, 1.8, 1);
    }
}
@keyframes pers {
    0% {
        perspective: 20000px;
    }
    50% {
        perspective-origin: right;
        perspective: 800px;
    }
    100% {
        perspective: 5000px
    }
}
.motion .one:nth-last-of-type(1) {
    width: 40vh;
    height: 40vh;
}
.motion .one:nth-last-of-type(2) {
    width: 38vh;
    height: 38vh;
}
.motion .one:nth-last-of-type(3) {
    width: 36vh;
    height: 36vh;
}
.motion .one:nth-last-of-type(4) {
    width: 34vh;
    height: 34vh;
}
.motion .one:nth-last-of-type(5) {
    width: 32vh;
    height: 32vh;
}
.motion .one:nth-last-of-type(6) {
    width: 30vh;
    height: 30vh;
}
.motion .one:nth-last-of-type(7) {
    width: 28vh;
    height: 28vh;
}
.motion .one:nth-last-of-type(8) {
    width: 26vh;
    height: 26vh;
}
.motion .one:nth-last-of-type(9) {
    width: 24vh;
    height: 24vh;
}
.motion .one:nth-last-of-type(10) {
    width: 22vh;
    height: 22vh;
}
.motion .one:nth-last-of-type(11) {
    width: 20vh;
    height: 20vh;
}
.motion .one:nth-last-of-type(12) {
    width: 18vh;
    height: 18vh;
}
.motion .one:nth-last-of-type(13) {
    width: 16vh;
    height: 16vh;
}
.motion .one:nth-last-of-type(14) {
    width: 14vh;
    height: 14vh;
}
.motion .one:nth-last-of-type(15) {
    width: 12vh;
    height: 12vh;
}
.motion .one:nth-last-of-type(16) {
    width: 10vh;
    height: 10vh;
}
.motion .one:nth-last-of-type(17) {
    width: 8vh;
    height: 8vh;
}
.motion .one:nth-last-of-type(18) {
    width: 6vh;
    height: 6vh;
}
.motion .one:nth-last-of-type(19) {
    width: 4vh;
    height: 4vh;
}
.motion .one:nth-last-of-type(20) {
    width: 2vh;
    height: 2vh;
}

@keyframes scale {
    0% {
        transform: scale3d(1, 1, 1);
    }
    100% {
        transform: scale3d(1.5, 1.5, 1);
    }
}